#****************************************************************
#Copyright (c) 2009  Larence Livermore National Security (LLNS)
#All rights reserved.
#****************************************************************
#
# Organization: Lawrence Livermore National Lab (LLNL)
#  Directorate: Computation
#   Department: Computing Applications and Research
#     Division: S&T Global Security
#       Matrix: Atmospheric, Earth and Energy Division
#      Program: PCMDI
#      Project: Earth Systems Grid
# First Author: Gavin M. Bell (gavin@llnl.gov)
#
#  Description:
#
#     Files that git should ignore...
#****************************************************************

TAGS
.ant-targets-build.xml
*~
*.cache
*.DS_Store
*.a
*.o
*.class
*.pyc
*.egg
*#*
*.md5
*.tmp
semantic.cache*
generated/
/build
/dist
/docs-generated
/lib/fetched
/.cobertura.ser
/eclipse
/backup
/web/index.html
/.project
