language: python
python:
  - "2.7"
# command to install dependencies
install: "pip install -r installer/requirements.txt"
script:
  - pwd
  - cd installer 
  - python test_esg_functions.py
  - python test_esg_setup.py
  - python esg_pylint_scripy.py -a
