        authorized_retrievers      "*"
        default_retrievers         "*"
        authorized_renewers        "*"
        authorized_key_retrievers  "*"
        trusted_retrievers         "*"
        default_trusted_retrievers "none"
        max_cert_lifetime          "72"
        disable_usage_stats        "true"
        cert_dir                   "/etc/grid-security/certificates"

        pam_id "myproxy"
        pam "required"

        certificate_issuer_cert "/var/lib/myproxy/cacert.pem"
        certificate_issuer_key "/var/lib/myproxy/cakey.pem"
        certificate_issuer_key_passphrase "globus"
        certificate_serialfile "/var/lib/myproxy/serial"
        certificate_out_dir "/var/lib/myproxy/newcerts"
        certificate_issuer_subca_certfile "/var/lib/myproxy/cacert.pem"
        certificate_mapapp /esg/config/myproxy/myproxy-certificate-mapapp
        certificate_extapp /esg/config/myproxy/esg_attribute_callout_app
